@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: linear-gradient(#3f51b5, #000); 

}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.button{
    width: 76px;
  padding:25px;
  margin:0 3px;
  border:2px solid rgb(228, 125, 217);
  border-radius:9px;
  cursor:pointer;
  font-size: 20px;
  background: linear-gradient();
}


.row{
  margin:12px 0;
}

.row input{
    /* text-align: center; */
  margin:0;
  font-size: 27px;
  padding: 6px 25px;
  /* padding:6px 28px; */
  border:2px solid rgb(228, 125, 217);
  border-radius:5px;
  outline: none;
}


.container{
  background-color: rgb(228, 125, 217);
  background: linear-gradient();
  width: 425px;
  padding: 30px 0;
  border-radius: 40px;
  border-right: 10px solid #ffcefc;
  border-bottom: 10px solid #ffcefc;
  
}