* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(143, 253, 255, 0.1), rgba(47, 0, 234, 0.2)), url('images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.nav {
    display: flex;
    max-width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.nav img {
    width: 140px;
}

#btn {
    padding: 8px 15px;
    border-radius: 30px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 1rem;
}

.content {
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
}

.content h1 {
    min-width: 100%;
    font-size: 3rem;
    margin: 3% 0;
    background: rgb(21, 10, 66);
    background: linear-gradient(90deg, rgb(230, 224, 205) 21%, #c6edf2 50%, rgb(246, 255, 251) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block
}

.content span {

    background: rgb(21, 10, 66);
    background: linear-gradient(90deg, rgb(174, 154, 255) 21%, rgb(179, 246, 255) 50%, rgb(252, 195, 253) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block
}



.bubbles {
    /* background-color: red; */
    position: absolute;
    width: 100%;
    /* min-height: 100vh; */
    bottom: -10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;

}


@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 1s;
    width: 30px;

}

.bubbles img:nth-child(2) {
    animation-delay: 4s;
    width: 20px;
}

.bubbles img:nth-child(3) {
    animation-delay: 2s;
    width: 60px;
}

.bubbles img:nth-child(4) {
    animation-delay: 6s;
    width: 10px;

}

.bubbles img:nth-child(5) {
    animation-delay: 8s;
    width: 30px;

}

.bubbles img:nth-child(6) {
    animation-delay: 3s;
    width: 20px;

}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;

}